html {
  margin-left: 0;
}

body {
  margin-left: 0;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.red {
  color: red;
}

.font {
  font-family: 'Syncopate';
}

.background {
  background-color: green;
}

#tumblr-div {
  width: 400px;
  height: 400px;
  background-color: #A02422;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF8DC;
  font-family: 'Oswald';
  font-size: 60px;
  text-align: center;
}

button {
  width: 200px;
  height: 100px;
  font-size: 30px;
  margin: 0;
}

h1 {
  font-family: 'Quantico';
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
  height: auto;
}
